<head>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'main/favicon.ico' %}"/>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'main/css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">
    <link rel="stylesheet" href="{% static 'main/prism.css' %}">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">


    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Erbo</title>
</head>

<body>
{% include "main/includes/navbar.html" %}
{% include "main/includes/message.html" %}
{% url 'main:homepage' as home_url %}
{% if request.get_full_path == home_url %}
    {% include "main/includes/intro.html" %}

{% endif %}


<section id="overview">
    <div class="container" id="down">
        <br>
        {% block content %}
        {% endblock %}
    </div>
    <br>
    <div class="container" >
        <div id="resume>">
            <img class="materialboxed" width="450"
                 src="https://storage.googleapis.com/mysite-cardview-img/Erbo_Resume.jpg" alt="my resume">
            <img src="" alt=""><i class="fas fa-file-download"></i>
            <a >Button</a>
        </div>
    </div>

</section>
</body>


<script src="{% static 'main/js/prism.js' %}"></script>
<script>  M.AutoInit();</script>
