<header class="green darken-4">
    <!--header intro page-->
    <container>
        <div class="intro-text">
            <div class="intro-heading animated fadeInUp">Hey, I'm Erbo</div>
            <div class="intro-lead-in animated fadeInUp">
                        <span>
                            <p>Spend three years in
                        Computing science in Simon Fraser University. I am eager to bring
                        my passion and realistic vision to the computer technology field.
                        Throughout university, I participated in various projects and my
                        working experience through which I have gained knowledge of several
                        programming languages, such as C/C++, Python and JavaScript.
                        </p>
                        </span>
            </div>
            <a href="#down" class="arrow-container" id="arrow">
                <div class="arrow"></div>
                <div class="arrow"></div>
                <div class="arrow"></div>
            </a>
        </div>

    </container>

</header>