    {% if messages %}
        {% for msg in messages %}
            {% if msg.tags == 'success' %}
                <script> M.toast({html: "{{msg}}", classes: 'green rounded', displayLength: 3000});</script>
            {% elif msg.tags == 'info' %}
                <script> M.toast({html: "{{msg}}", classes: 'blue rounded', displayLength: 2000});</script>
            {% elif msg.tags == 'warning' %}
                <script> M.toast({html: "{{msg}}", classes: 'orange rounded', displayLength: 10000});</script>
            {% elif msg.tags == 'error' %}
                 <script> M.toast({html: "{{msg}}", classes: 'red rounded', displayLength: 10000});</script>
            {% endif %}
        {% endfor %}
    {% endif %}