
<nav>
    <div class="nav-wrapper green darken-4">
        <a href="/" class="brand-logo">Erbo</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
            <i class="material-icons">menu</i>
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/">home</a></li>
            {% if user.is_authenticated %}
                <li><a href="/account">{{ user.username }}</a></li>
                <li><a href="/logout">logout</a></li>
            {% else %}
                <li><a href="/register">register</a></li>
                <li><a href="/login">login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
<ul class="sidenav green darken-4 white-text" id="mobile-nav">
    <li><a class ="white-text"  href="/">home</a></li>
    {% if user.is_authenticated %}
        <li ><a class ="white-text" href="/account">{{ user.username }}</a></li>
        <li><a class ="white-text" href="/logout">logout</a></li>
    {% else %}
        <li><a class ="white-text" href="/register">register</a></li>
        <li><a class ="white-text" href="/login">login</a></li>
    {% endif %}
</ul>


<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
